include ../mixins
section.features
  .container
    h2 Creative Amazing Features
    .row
      .col-md-4
        .features__item
          +icon('leaf', 'feature_icon')
          h3 Retina Ready
          p All our modules are built with the possi bility to thse choose between different design and you change.
      .col-md-4
        .features__item
          +icon('note', 'feature_icon')
          h3 Creative Blog Style
          p All our modules are built with the possi bility to thse choose between different design and you change.
      .col-md-4
        .features__item
          +icon('magnifier', 'feature_icon')
          h3 Icon Fonts
          p All our modules are built with the possi bility to thse choose between different design and you change.
    .row
      .col-md-4
        .features__item
          +icon('hourglass', 'feature_icon')
          h3 Parallax Effects
          p All our modules are built with the possi bility to thse choose between different design and you change.
      .col-md-4
        .features__item
          +icon('laptop', 'feature_icon')
          h3 Amazing Interface
          p All our modules are built with the possi bility to thse choose between different design and you change.
      .col-md-4
        .features__item
          +icon('tools', 'feature_icon')
          h3 SEO Optimized
          p All our modules are built with the possi bility to thse choose between different design and you change.
    .row
      .col-md-4
        .features__item
          +icon('bulb', 'feature_icon')
          h3 Creative Solutions
          p All our modules are built with the possi bility to thse choose between different design and you change.
      .col-md-4
        .features__item
          +icon('plane', 'feature_icon')
          h3 Mega Menus
          p All our modules are built with the possi bility to thse choose between different design and you change.
      .col-md-4
        .features__item
          +icon('profile', 'feature_icon')
          h3 Custom Backgrounds
          p All our modules are built with the possi bility to thse choose between different design and you change.
