section.news
  .container
    h2 Breaking News
      .row
        .col-md-3.col-sm-6
          article.entry
            a(href='#' class='entry__thumb')
              img(src='images/thumb.jpg')
            .entry__content
              a(href='#' class='entry__title')
                h3 Amazing Image Post
              ul.entry__meta
                li
                  time(datetime='2016-08-09' class='published') 12
                    span Feb
                li By admin
                  span |
                li 2 comments
