include ../mixins
section.teasers.teasers--statistic
  .row
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--odd
        .teaser__inner
          .icon__wrap
            +icon('case', 'teasers__icon--statistic')
          span 4609
          b Works
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--even
        .teaser__inner
          .icon__wrap.icon__wrap--even
            +icon('persona', 'teasers__icon--statistic')
          span 3470
          b Customers
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--odd
        .teaser__inner
          .icon__wrap
            +icon('cart', 'teasers__icon--statistic')
          span 2908
          b Purchase
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--even
        .teaser__inner
          .icon__wrap.icon__wrap--even
            +icon('marker', 'teasers__icon--statistic')
          span 1908
          b Office
