include ../mixins
section.teasers
  .row
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--odd
        .teaser__inner
          +icon('click', 'teasers__icon--odd')
          h3 different theme option
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--even
        .teaser__inner
          +icon('crystal', 'teasers__icon--even')
          h3 fully customizable
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--odd
        .teaser__inner
          +icon('leafinbubl', 'teasers__icon--odd')
          h3 unlimited support
    .col-md-3.col-sm-6
      .teaser__item.teaser__item--even
        .teaser__inner
          +icon('device', 'teasers__icon--even')
          h3 responsive all device

