section.trigger
  .container
    .row
      .col-md-12
        h3 Everything is ready. just buy and install now
        p Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you
        a(href='#' class='btn') purchase now
